$accent: #B53471;
$white: #F1E8E8;
$dark-purple: #310C24;
$black: #1A0612;
$purple: #511734;
//$gradient:linear-gradient(50.98deg, #03DAF2 -14.61%, #13E780 87.24%);

$bx-shw-accent: 0px 4px 4px rgba(181, 52, 113, 0.25);
$bx-shw-16:0px 3px 6px rgba(0, 0, 0, 0.16);
$bx-shw-10:0px 3px 6px rgba(0, 0, 0, 0.1);